<div class="container" id="index">
  <div class="row">
    <div class=".col-xs-4 .col-lg-2 container" id="icons">
        <a href="https://www.instagram.com/andelelara/?hl=en" target="_blank"><img src="/assets/insta.png" class="img-responsive" style="width: 100%"></a>
    </div>
  </div>
  
  <div class="row" id="wrapper">
    <span>AndeleLara</span>  
      <p>Shhhhh.... It's coming.</p>
      <input type="text" class="form-control" placeholder="email address" id="email" style="text-align: center;">
  </div>

  <div class="nav navbar-nav navbar-right navbar-fixed-bottom">
    <div class=".col-xs-2 .col-sm-2" id="questions">
      <p>
        <a href="mailto:theandelelara@gmail.com?Subject=Hello!%20" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
      </p>
    </div>
  </div>
</div>