<div class="container-fluid">
  <div class="nav navbar-nav navbar-right navbar-fixed-top">
    <div id="icons">
        <a href="https://www.instagram.com/andelelara/?hl=en" target="_blank"><img src="/assets/insta.png"></a>
    </div>
  </div>
  
  <div class="jumbotron" id="wrapper">
    <div id="content">
      <h1>AndeleLara</h1>
      <p>Shhhhh.... It's coming.</p>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="enter email address" id="email" style="text-align: center">
    </div>
    </div>
  </div>

  <div class="nav navbar-nav navbar-right navbar-fixed-bottom">
    <div id="questions">
      <p>
        <a href="mailto:theandelelara@gmail.com?Subject=Hello!%20" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
      </p>
    </div>
  </div>
</div>