<body class="container-fluid">
  <div class="nav navbar-nav navbar-right navbar-fixed-top">
    <div id="icons">
        <a href="https://www.instagram.com/andelelara/?hl=en" target="_blank"><img src="/assets/insta.png"></a>
    </div>
  </div>
  
  <div class="jumbotron" id="wrapper">
    <div id="content">
      <h1>andele lara</h1>
      <p>Big things are coming... <br>Stay up-to-date on all things Andele Lara!</p>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="enter email address" id="email" style="text-align: center">
      <span id="notice">Andele Lara will send occassional email updates, <br>always allowing you the chance to opt out.</span>
    </div>
    </div>
  </div>

  <div class="nav navbar-nav navbar-right navbar-fixed-bottom">
    <div id="questions">
      <p>
        <a href="mailto:theandelelara@gmail.com?Subject=Hello!%20" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
      </p>
    </div>
  </div>
</body>